<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Une nouvelle commande est arrivée</h1>
    <p>
      Voici le recapitulatif de la commande n°<%=@order.id%>
    </p>
    <p>
    	Utilisateur n°<%=@user.id%>
    	<br><br>
    	Email utilisateur : <%=@user.email%>

      <%@order.items.each do |item|%>

    <img src = "<%=item.image_url%>">
    <%end%>
    </p>
    <p> À très vite sur The Kitten Project !</p>
  </body>
</html>