<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour votre commande !</h1>
    <p>
      Voici le recapitulatif de votre commande n°<%=@order.id%>
    </p>
    <p>
    	Titre : <%=@item_title%>
    	<br><br>
    	Description : <%=@item_description%>
    	<br><br>
		<img src = "<%=@item_image%>">
    </p>
    <p> À très vite sur The Kitten Project !</p>
  </body>
</html>