<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour votre commande !</h1>
    <p>
      Voici le recapitulatif de votre commande n°<%=@current_order.id%>
    </p>
    <p>
      <%@current_order.items.each do |item|%>
      <img src = "<%=item.image_url%>">
      <%end%>
    </p>
    <p> À très vite sur The Kitten Project !</p>
  </body>
</html>

