<div class="bg-secondary m-0">
<div class="container p-4">
  <center class="p-3">
  <h1>Voici ce que vous pourrez trouver chez nous !</h1>
  </center>
<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner" role="listbox">
           <div class="carousel-item active ">
             <%= image_tag 'chat1' , width: 1250, height: 600 %>
           </div>
           <div class="carousel-item">
             <%= image_tag 'chat2' , width: 1250, height: 600 %>
           </div>
           <div class="carousel-item">
             <%= image_tag 'chat3' , width: 1250, height: 600 %>
           </div>
         </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>
</div>
</div>
