<%= render 'jumbotron' %>

<div class = "container">
  <div class="card-columns">
    <% @items.each do |item| %>
    <div class="cardt">
      <%= link_to item_path(item.id) do%>
        <img src="<%= item.image_url %>" alt="..." class="card-img-top p-2">
      <% end %>
      </div>
    <% end %>
  </div>
</div>
