.jumbotron {
  background-image: url(asset-path("chat-langue-chaton.jpg"));
}

.jumbotron-cart {
  height: 300px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #073642;
  background-image: url("https://img4.goodfon.com/wallpaper/nbig/d/56/koshka-kotenok-kotionok-belyi-korzinka-fon-chumazik-malenkii.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 3px 3px black;
}

.cardt:hover{
  box-shadow: 4px 3px 5px 5px #b55c8c;
  border: 2px solid #772953;
  border-radius: 5px;
padding:0px;

}

.cardd:hover{
  box-shadow: 2px 1px 3px #b55c8c;
  border: 1px solid #772953;
  border-radius: 5px;
padding:0px;

}

.bgi
{
  background-image: url("https://active-storage-thp-cat.s3-us-west-1.amazonaws.com/photo+en+vente/photo-1516541196182-6bdb0516ed27.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bdi{
  background-color: white;
  border: 2px solid #772953;
  border-radius: 5px;
  padding:20px 20% 20px 20%;
  opacity:70%;
}

.bdi:hover{
  box-shadow: 4px 3px 5px 5px #b55c8c;
  background-color: white;
  border: 2px solid #772953;
  border-radius: 5px;
  opacity:85%;
  margin-top: -10px;
  margin-left: -10px;
}
