.jumbotron {
  background-image: url(asset-path("chat-langue-chaton.jpg"));
}

.jumbotron-cart {
  height: 300px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #073642;
  background-image: url("https://img4.goodfon.com/wallpaper/nbig/d/56/koshka-kotenok-kotionok-belyi-korzinka-fon-chumazik-malenkii.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 3px 3px black;
}
/* Mise en place du front en modification */
.cardt:hover{
  box-shadow: 4px 3px 5px 5px #b55c8c;
  border: 2px solid #772953;
  border-radius: 5px;
padding:0px;

}

.cardd:hover{
  box-shadow: 2px 1px 3px #b55c8c;
  border: 1px solid #772953;
  border-radius: 5px;
padding:0px;

}

.bgi
{
  background-image: url("https://active-storage-thp-cat.s3-us-west-1.amazonaws.com/photo+en+vente/photo-1516541196182-6bdb0516ed27.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bdi{
  background-color: white;
  border: 2px solid #772953;
  border-radius: 5px;
  padding:20px 20% 20px 20%;
  opacity:70%;
}

.bdi:hover{
  box-shadow: 4px 3px 5px 5px #b55c8c;
  background-color: white;
  border: 2px solid #772953;
  border-radius: 5px;
  opacity:85%;
  margin-top: -10px;
  margin-left: -10px;
}

/* Petite animation hé! dans le profil */

h1.ml8 {
  font-weight: 900;
  font-size: 4.5em;
  color: #fff;
  width: 3em;
  height: 3em;
}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed #772953;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #772953;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #772953;
  width: 2.3em;
  height: 2.3em;
  animation-iteration-count: 1;
}
